@import "~bulma";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.navbar-item .error {
  border: 2px solid red;
}

.gh-username img{
  width: 32px;
}

#profile-bio{
  margin-top:10px;
}

.timeline .timeline-item {
  padding-bottom:1em;
}

.profile-container,
.events-container {
  opacity: 0;
  transition: all .25s ease-in;

  &.active {
    opacity: 1;
  }
}

.sp {
	width: 32px;
	height: 32px;
	clear: both;
  margin: 20px auto;
  display: none;
  
  &.active {
    display: block;
  }
}

/* Spinner Circle Rotation */
.sp-circle {
	border: 4px rgba(#000,0.25) solid;
	border-top: 4px rgba(#000,1) solid;
	border-radius: 50%;
	-webkit-animation: spCircRot .6s infinite linear;
	animation: spCircRot .6s infinite linear;
}
@-webkit-keyframes spCircRot {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}
