@import "~bulma";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.gh-username img{
  width: 32px;
  display:block;
}


#profile-bio{
  margin-top:10px;
}

.timeline .timeline-item {
  padding-bottom:1em;
}
.error {
  border:2px solid #e62424;
  text-shadow: none;
  border-radius: 7px;
  transition: .2s;
}