@import "~bulma";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.navbar-item .error {
  border: 2px solid red;
}

.gh-username img{
  width: 32px;
}

#profile-bio{
  margin-top:10px;
}

.timeline .timeline-item {
  padding-bottom:1em;
}

.profile-container,
.events-container {
  opacity: 0;
  transition: all .25s ease-in;

  &.active {
    opacity: 1;
  }
}

